* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    max-width: 1200px;
    margin: auto;
}

main {
    padding: 0px 40px;
}

h1,
h2 {
    font-size: 48px;
    font-weight: 400;
    color: #050038;
    line-height: 56px;
}

p {
    line-height: 24px;
    font-weight: 400;
    font-size: 18px;
}

a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 120px;
    padding: 0 40px;
}

form {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    margin-bottom: 8px;
}

form+p {
    font-size: 14px;
    color: #050038;
}

footer {
    background-color: #050038;
    color: #fff;
    padding: 47px 40px
}

.header {
    margin-bottom: 60px;
    border-bottom: 1px solid #f0f0f0;
}

.header_list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 33px 50px;
    gap: 34px;
}

.header_list_item {
    color: #050038;
}

.section_hero {
    display: flex;
    gap: 76px;
}

.section_hero_h1 {
    margin-bottom: 17px;
}

.section-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.heroText {
    color: #050038;
    margin: 0px 0px 50px 0px;
}

#email {
    border: 1px solid #9b99af;
    border-radius: 32px;
    width: 440px;
    height: 48px;
}

#heroButton {
    border: 1px solid #4262ff;
    border-radius: 32px;
    width: 440px;
    height: 51px;
    background-color: #4262ff;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    transition: background-color 1s;
}

#heroButton:hover {
    background-color: #162da1;
    cursor: pointer;
}

.container-logos {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.main-section {
    display: flex;
    flex-flow: row nowrap;
    gap: 115px;
}

.section_h2 {
    margin-bottom: 19px;
}

.section_p {
    color: #696688;
    margin-bottom: 39px;
}

.section_a {
    color: #4262ff;
    text-decoration: underline;
}

.section_list {
    list-style: none;
    font-size: 18px;
    line-height: 24px;
    color: #05003860;
}

.section_list li::marker {
    content: url(img/CheckFrame.svg);
}

.footer-div {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 20px;
}

.footer_link {
    color: #fff;
}

.row-reverse {
    flex-direction: row-reverse;
}