html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
}

h1,
h2 {
    font-size: 48px;
    font-weight: 400;
    color: #050038;
    line-height: 56px;
}

p {
    line-height: 24px;
    font-weight: 400;
    font-size: 18px;
}

ul {
    margin: 0;
}

a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

section {
    margin-bottom: 120px;
}

footer {
    background-color: #050038;
    color: #fff;
    padding: 47px 0px
}

.header {
    margin-bottom: 60px;
}

.header_list {
    padding-left: 0px;
    list-style: none;
    padding: 33px 0px;
}

.header_list_item {
    color: #050038;
}

.section_hero {
    margin-bottom: 128px;
}

.section_hero_h1 {
    margin-bottom: 17px;
}

.heroText {
    color: #050038;
    margin: 0px 0px 50px 0px;
}

#heroButton {
    border: 1px solid #4262ff;
    border-radius: 32px;
    background-color: #4262ff;
    padding: 10px;
    color: #fff;
    transition: background-color 1s, border-radius 2s;
}

#heroButton:hover {
    background-color: #162da1;
    cursor: pointer;
    border-radius: 50%;
}

.section_h2 {
    margin-bottom: 19px;
}

.section_p {
    color: #696688;
    margin-bottom: 39px;
}

.section_a {
    color: #4262ff;
    text-decoration: underline;
}

.section_list {
    list-style: none;
    font-size: 18px;
    line-height: 24px;
    color: #05003860;
}

.section_list li::marker {
    content: url(img/CheckFrame.svg);
}

.footer_list {
    list-style-type: none;
    padding: 0;
}

.footer_link {
    color: #fff;
}