* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-weight: 400;
}

body {
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
}

a {
    font-size: 16px;
    color: #fff;
}

p {
    font-size: 16px;
    line-height: 30px;
}

.avatar-img {
    border-radius: 3px;
    width: 35px;
    height: 35px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
    background: #4b5563;
    justify-content: center;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 70px 180px;
}

.header-nav-ul {
    display: flex;
    gap: 52px;
    align-items: center;
    list-style: none;
}

.header-nav-ul :first-child {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-nav-ul-li {
    text-decoration: none;
}

.header-form-search {
    background: url("img/search.svg") no-repeat 10px center;
    background-color: rgba(31, 41, 55, 0.6);
    border-radius: 100px;
    border: none;
    width: 224px;
    height: 40px;
    padding: 10px;
    padding-left: 49px;
}

.article {
    max-width: 1440px;
    margin: 0 auto;
}

.article-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.article-h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 30px;
}

.article-header-div {
    font-size: 14px;
    opacity: 0.6;
    margin-bottom: 15px;
}

.article-header-div-a {
    font-size: 14px;
    text-decoration: none;
}

.article-header-address {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-style: normal;
}

.author-div {
    display: flex;
    flex-direction: column;
}

.article-header-spanAuthor {
    font-size: 16px;
    line-height: 28px;
}

.article-header-spanPost {
    line-height: 28px;
    font-size: 14px;
    opacity: 0.6;
}

.article-img {
    margin-bottom: 70px;
}

.article-section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0px 366px;
}

.article-section-p-Intro {
    font-size: 20px;
    line-height: 32px;
}

.article-p,
.article-section-p-Intro {
    margin-bottom: 30px;
}

.footer {
    padding: 70px 0px;
    background: #121928;
    text-align: center;
}

.footer-p {
    line-height: 28px;
    opacity: 0.6;
}